<h2> Weather</h2>
<div *ngIf="location">
<div *ngIf="weather">
  <h2>{{location.name}} - {{toCelsius(weather.main.temp_min)}}</h2>
  </div>
  <div *ngIf="weather">
  <div>{{weather.weather[0].main}}</div>
  <div>Description: {{weather.weather[0].description}}</div>
  <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"/>
  <div>Humidity: {{weather.main.humidity}} %</div>
  <div>Pressure: {{weather.main.pressure}}</div>
  <div>Minimum temperature: {{toCelsius(weather.main.temp_min)}}</div>
  <div>Maximum temperature: {{toCelsius(weather.main.temp_max)}}</div>
  </div>
  
  <button (click)="goBack()">Back</button>

</div>
