<div *ngIf="location">
  <h2>{{location.name}} details!</h2>
  <div>
    <label>id: </label>{{location.id}}</div>
    <div *ngIf="lokacja">object data using NgIf: {{lokacja.coord.lat}}</div>
    <div *ngIf="lokacja">object data using NgIf: {{lokacja.coord.lon}}</div>

  <div>
    <label>name: </label>
    <input [(ngModel)]="location.name" placeholder="name" />
  </div>
  <div>
    <label>lat: </label>
    <input [(ngModel)]="location.lat" placeholder="lat" />
  </div>
  <div>
    <label>lng: </label>
    <input [(ngModel)]="location.lon" placeholder="lon" />
  </div>
    <div class="module hero">

    </div>

  <div *ngIf="location">
  <sebm-google-map [latitude]="location.coord.lat" [longitude]="location.coord.lon">
  </sebm-google-map>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="gotoWeather()">Weather Details</button>

</div>
