<div *ngIf="location">
  <h2>{{location.name}} details!</h2>
  <div>
    <label>id: </label>{{location.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="location.name" placeholder="name" />
  </div>
  <div>
    <label>lat: </label>
    <input [(ngModel)]="location.lat" placeholder="lat" />
  </div>
  <div>
    <label>lng: </label>
    <input [(ngModel)]="location.lng" placeholder="lng" />
  </div>
    <div *ngFor="let loc of lokacja" (click)="gotoDetail(location)" class="col-1-4">
    <div class="module hero">
      <h4>{{loc.lat}}</h4>
      <h3>{{loc.lon}}</h3>

    </div>
  </div>

  <div>
  <sebm-google-map [latitude]="location.lat" [longitude]="location.lng">
  </sebm-google-map>
  </div>
  <button (click)="goBack()">Back</button>
</div>
