<h2> Weather</h2>
<div *ngIf="location">
  <h2>{{location.name}} details!</h2>
  <div>
    <label>id: </label>{{location.id}}</div>

  <div>
    <label>name: </label>
    <input [(ngModel)]="location.name" placeholder="name" />
  </div>
  <div *ngIf="weather">
  <h3>Aloha</h3>
  </div>
  <table>
    <tr>
      <td><button (click)="currentWeather()">Current Weather</button></td>
      <td><button (click)="fiveDayWeather()">5 day forecast</button></td>
      <td><button (click)="sixteenDayWeather()">16 day forecast</button></td>
    </tr>
  </table>

  <button (click)="goBack()">Back</button>

</div>
